<div class="modal fade" id="show_number<%= vehicle.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Primary: <%= vehicle.primary_contact %><br>
        Secondary: <%= vehicle.secondary_contact %>
      </div>
    </div>
  </div>
</div>