<div class="w-50 border bg-secondary rounded shadow my-3 py-2 text-center container">
  <div class="container">
    <div class="row my-2">
      <div class="col model-container">
        <select class="form-control" name="model">
        <option value="" class="text-muted">Models</option>
          <option value="honda">Honda</option>
          <option value="suzuki">Suzuki</option>
          <option value="mehran">Mehran</option>
        </select>
      </div>
      <div class="col cities-container">
        <select class="form-control" name="cities">
        <option value="" class="text-muted">Cities</option>
          <option value="lahore">Lahore</option>
          <option value="multan">Multan</option>
          <option value="islamabad">Islamabad</option>
        </select>
      </div>
      <div class="col price-container">
        <input class="form-control" placeholder="Price (PKR)"/>
      </div>
    </div>

    <% if filters %>
      <div class="row">
        <div class="col engine-container">
          <select class="form-control" name="engine">
            <option value="" class="text-muted">Engine Type</option>
            <option value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
            <option value="cng">CNG</option>
            <option value="hybrid">Hybrid</option>
          </select>
        </div>
        <div class="col transision-container">
          <select class="form-control" name="transision">
            <option value="" class="text-muted">Transision</option>
            <option value="automatic">Automatic</option>
            <option value="manual">Manual</option>
          </select>
        </div>
        <div class="col color-container">
          <select class="form-control" name="color">
            <option value="" class="text-muted">Color</option>
            <option value="white">White</option>
            <option value="silver">Silver</option>
            <option value="black">Black</option>
            <option value="grey">Grey</option>
            <option value="blue">Blue</option>
          </select>
        </div>
      </div>
      <div class="row my-2">
        <div class="col millage-container">
          <input class="form-control" placeholder="Millage (km/h)"/>
        </div>
        <div class="col enigne-capacity-container">
          <input class="form-control" placeholder="Engine Capacity(CC)"/>
        </div>
        <div class="col assembly-container">
          <select class="form-control" name="assembly">
            <option value="" class="text-muted">Assembly Type</option>
            <option value="local">Local</option>
            <option value="import">Import</option>
          </select>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-between container">
    <div class="<%= "dropup" if filters%>">
      <%= link_to "#{filters ? "Less Filters" : "More Filters" }", root_path(filters: !filters), remote: true, class: "btn btn-light dropdown-toggle" %>
    </div>
    <div class="d-flex">
      <button class="btn btn-primary mx-2">Search</button>
      <button class="btn btn-light">Clear Filters</button>
    </div>
  </div>
</div>