<div class="w-50 border bg-secondary rounded shadow my-3 py-2 text-center container">
  <div id='vehicle-ads'>
    <%= render 'vehicles/ads' %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @vehicles %>
  </div>
</div>
